body{
    border:4px solid lightblue
}

.container{
 border: 3px solid black;  
 background-color: lightgray; 
 color: hwb(0 2% 91%);
}

.para{
    border: 1px dashed gray;
    background-color:  white;
    color: darkblue;
    margin-top: 10px;
    font-size: 18px;
}